* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root {
    --primary-color: #1abc9c;
    --text-color: #ecf0f1;
    --background-dark: #2c3e50b9;
    --white-color: #34495ecb;
    --nav-color: #000000e7;
    --gray-color: #95a5a6;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-dark);
    color: var(--text-color);
    overflow-x: hidden;
    
}
html{
    scroll-behavior: smooth;
}
.main-page-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-dark);
}


.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 5px 0px; */
    position: fixed;
    top: 0;
    z-index: 10;
}

.navigationbar {
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    background-color: var(--nav-color);
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.navigationbar:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5);
}

.logo-icon {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-color);
}

.links {
    flex-grow: 1;
    text-align: center;
}

.links .ultag {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.links .ultag .link {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    text-decoration: none;
}
.link a{
    text-decoration: none;
    color: var(--gray-color);
}

.links .ultag .link:hover {
    color: var(--primary-color);
}

.links .ultag .link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.links .ultag .link:hover::after {
    width: 100%;
}

.contactbtn-wrapper {
    padding-left: 15px;
}

.contactbtn-wrapper .contactbtn {
    padding: 12px 24px;
    width: auto;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.secondary-button a{
    text-decoration: none;
    color: var(--text-color);
}
.contactbtn a{
    text-decoration: none;
    color: var(--text-color);
}

.contactbtn-wrapper .contactbtn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.side-navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 15;
    overflow-y: auto;
}

.side-navbar.open {
    transform: translateX(0);
}

.side-navbar .logo-icon {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.side-navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.side-navbar .nav-links .nav-item {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.side-navbar .nav-links .nav-item a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.side-navbar .nav-links .nav-item a:hover {
    background-color: var(--hover-color);
    border-radius: 25px;
}
.side-navbar .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 16;
}

.side-navbar .close-btn svg {
    width: 24px;
    height: 24px;
    stroke: var(--text-color);
}


/* Hide the navigation bar when side navbar is open */
.hide-nav .navigationbar {
    display: none;
}





.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
   width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.background-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


.hero-content {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    max-width: 900px;
    display: flex;
    align-items: center;
    gap: 30px; 
}

.photo-wrapper {
    position: relative;
}

.hero-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px var(--primary-color);
}

.text-content {
    max-width: 600px;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    animation: typewriter 3s steps(50) 1s forwards, blink 0.75s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--primary-color);
    width: 0;
    display: inline-block;
}

@keyframes typewriter {
    0% { width: 0; }
    100% { width: 100%; }

}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: var(--primary-color); }
}

.hero-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
    animation: fadeIn 4s ease-out;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.primary-button, .secondary-button {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.primary-button a{
    text-decoration: none;
    color: var(--background-dark);
}

.primary-button {
    background-color: var(--primary-color);
    border: none;
}

.secondary-button {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.primary-button:hover {
    background-color: #16a085;
    transform: scale(1.1);
}

.secondary-button:hover {
    background-color: var(--primary-color);
    color: var(--background-dark);
    transform: scale(1.1);
}
.menu{
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Media Queries */
@media (max-width: 1000px) {
    .hero-title {
        font-size: 40px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-photo {
        width: 120px;
        height: 120px;
    }

    .primary-button, .secondary-button {
        padding: 8px 20px;
        font-size: 18px;
    }
}

@media (max-width: 875px) {
    .about-me-container{
        flex-direction: column;
        align-items: center;
    }
    .hero-content {
        flex-direction: column;
        text-align: center;
    }
    .hero-title {
        font-size: 30px;
    }

    .hero-subtitle {
        font-size: 17px;
    }

    .hero-photo {
        width: 100px;
        height: 100px;
    }

    .primary-button, .secondary-button {
        padding: 6px 15px;
        font-size: 15px;
    }
    .links{
        display: none;
    }
    .contactbtn-wrapper{
        display: flex;
        gap: 20px;
    }
    .menu{
        display: block;
    }
    .menu svg{
       cursor: pointer;
    }
}
@media (max-width: 875px) {
    .hero-title {
        font-size: 25px;
    }
}


/* my about section css */

.about-section {
    padding: 80px 20px;
    background-color: var(--background-dark);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    text-align: center;
}
.about-me-container{
    display: flex;
    width: 100%;
}

.about-me-photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-me-photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}
.social-icons .s-icon {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    position: relative; 
}

 .social-icons .s-icon svg {
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}
 .social-icons .s-icon:hover {
    transform: translateY(-5px); 
    cursor: pointer;
}
 .social-icons .s-icon:hover svg {
    transform: scale(1.1); 
}

 .social-icons .s-icon:hover::before {
    font-size: 16px;
    color: #b2b2b2;
    position: absolute;
    top: -20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: perspective(50px) rotateY(20deg) scale(1);
    white-space: nowrap;
}



 .social-icons .s-icon:nth-child(1):hover::before {
    content: "INSTAGRAM";
}
 .social-icons .s-icon:nth-child(2):hover::before {
    content: "FACEBOOK";
}
 .social-icons .s-icon:nth-child(3):hover::before {
    content: "TWITTER";
}
 .social-icons .s-icon:nth-child(4):hover::before {
    content: "LINKEDIN";
}
 .social-icons .s-icon:nth-child(5):hover::before {
    content: "GITHUB";
}
 .social-icons .s-icon:nth-child(6):hover::before {
    content: "WHATS APP";
}


 .social-icons .s-icon::before {
    content: "";
    opacity: 0; 
    transform: translateY(10px); 
    transition: all 0.3s ease-in-out;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.about-me-info {
    padding: 20px;
    border-radius: 12px;
}

.about-me-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.about-me-info p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .about-me {
        padding: 20px;
    }

    .about-me-info h2 {
        font-size: 28px;
    }

    .about-me-info p {
        font-size: 18px;
    }
}


/* Education and Skills Section styling */
.info-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

.info-card {
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

.info-card h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--primary-color);
}


.education-list, .skills {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.education-list{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.education-item{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.education-item:hover{
    transition: all 0.3s ease-out;
    background-color: #16a084db;
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    
}
.education-item, .skill-card {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    animation: fadeIn 1s ease-out;
    
}

.education-item h3, .skill-card h3 {
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 10px;
}


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skill-card {
    width: 100%;
    /* flex: 1 1 300px; */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .info-sections {
        grid-template-columns: 1fr;
    }
}

/* Familiar Technologies Section  Css*/

.familiar-technologies {
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    text-align: center;
}

.familiar-technologies h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tech-item {
    background-color: var(--background-light);
    color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 120px;
}

.tech-item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-5px);
}

.icon {
    width: 40px;
    height: 40px; 
    margin-bottom: 10px;
}

.tech-label {
    font-size: 16px;
    font-weight: 500;
}
#personal-projects {
    padding: 60px 20px;
    background-color: var(--background-dark); 
}

#personal-projects h2 {
    text-align: center;
    font-size: 2.5em;
    color: var(--text-color); 
    margin-bottom: 40px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: var(--white-color);
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}

.project-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    
}

.project-info {
    padding: 15px;
}

.project-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

.project-info p {
    font-size: 1em;
    color: var(--gray-color);
}


.project-card {
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact us css */
.contact-section {
    padding: 80px 20px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    position: relative;
    overflow: hidden;
}

.contact-title {
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 40px;
    animation: slideInFromLeft 1s ease-out;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.info-icon {
    font-size: 2em;
    color: #1abc9c;
    margin-right: 15px;
}

.info-text h4 {
    font-size: 1.5em;
    color: #ffffff;
}

.info-text p {
    font-size: 1em;
    color: #b0b0b0;
}

.contact-form {
    flex: 1;
    width: 80%;
    max-width: 600px; 
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto; 
}

.contact-form:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #444444;
    color: #e0e0e0;
    font-size: 1em;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    background-color: #555555;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.3);
}

.submit-btn {
    padding: 15px 30px;
    background-color: #1abc9c;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submit-btn:hover {
    background-color: #16a085;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* 3D Elements and Animations */
.contact-section::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%);
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: rotateAnimation 20s linear infinite;
}

.contact-section::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%);
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: rotateAnimationReverse 25s linear infinite;
}
.info-card h2{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateAnimationReverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .info-item, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-section::before, .contact-section::after {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 2em;
    }

    .form-input {
        padding: 12px;
    }

    .submit-btn {
        padding: 12px 25px;
        font-size: 1em;
    }
}
@media (max-width: 500px) {
    .info-card {
        padding: 0;
        width: 100%;
    }
    .education-list{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .education-item{
        padding: 20px;
        width: 100%;
    }
    .about-me-info{
        padding: 0;
    
    }
    .skills{
        grid-template-columns: 1fr;
        padding: 15px;
    }
    .hero-title{
        font-size: 20px;
    }
}

.social-icons{
    flex-wrap: wrap;
}