@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Moul&family=Nosifer&family=Sevillana&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Moul&family=Nosifer&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,00&family=Handjet:wght@300&family=Kotta+One&family=Moul&family=Nosifer&family=Questrial&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Moul&family=Nosifer&family=Permanent+Marker&family=Questrial&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Montserrat:ital,wght@1,300&family=Moul&family=Nosifer&family=Permanent+Marker&family=Questrial&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bs-dark: #f0f0f1e5; /* Background color for the body */
    --bclr: #000000; /* Text color */
    --footer: rgb(29, 98, 130); /* Footer background color */
    --wbkg: #ffffff; /* Text color for dark elements */
    --nav: rgb(244, 244, 249); /* Navigation bar color */
    --yclr: rgb(212, 158, 8); /* Navigation bar color */
    --main-color: rgb(0, 174, 255); /* Navigation bar color */
    --main2-color: rgb(9, 96, 137); /* Navigation bar color */
}

body {
    background-color: var(--bs-dark);
    color: var(--bclr);
}

.theme-container {
    background-color: var(--footer);
}

html {
    scroll-behavior: smooth;
}

.theme-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: var(--wbkg);
}
.theme-container #theme-icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
        -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
        inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}

/* Sidebar styles */
.sidenavbar {
    position: fixed;
    top: 0;
    left: -60%;
    width: 60vw;
    height: 100vh;
    background-color: var(--nav);
    transition: all ease 0.6s;
    z-index: 100;
}


/* Header styles */
.my-logo-sec {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-logo-sec :first-child {
    color: var(--yclr);
    font-size: 35px;
    text-decoration: underline;
    font-weight: 800;
    font-family: cursive;
}

.my-logo-sec .open-btn,
.closebtn {
    color: var(--bclr);
    font-size: 35px;
    font-weight: 600;
    font-family: cursive;
    position: absolute;
    top: 0;
    left: 85%;
    cursor: pointer;
}

.my-logo-sec .open-btn,
.closebtn:hover {
    transition: all ease 0.2s;
    color: var(--main-color);

}

.top-open-btn:hover {
    transition: all ease 0.2s;
    color: var(--main-color);

}

.closebtn {
    display: none;
    text-decoration: none;
    font-size: 45px;
}

.internal-links-sec {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yclr);
}

.internal-sec {
    width: 90%;
    height: 100%;
    transition: all ease 0.6s;
    display: block;
}


.ultag {
    list-style: none;

}

.ultag .link {
    padding: 15px 0px;
}

.ultag .link a {
    color: var(--yclr);
    text-decoration: none;
    font-size: 16px;
}

.ultag .link a:hover {
    color: var(--main-color);
    font-size: 16px;
}

.my-links {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.social-links {
    width: 100%;
    height: 50%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 18px;
    text-align: end;
    transition: all ease 0.6s;
}

.social-links li {
    margin: 20px 0px;
}

.social-links li a {
    color: var(--main-color);
}

.social-links li a:hover {
    color: #2f719a;
}

.top-social-links {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: fl;
    gap: 10px;
    text-align: center;
    transition: all ease 0.6s;
}

.top-social-links li {
    margin: 20px 0px;
}

.top-social-links li a {
    color: var(--main-color);
}

.top-social-links li a:hover {
    color: var(--accent-color);
}

.top-social-links-sec {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    background-color: transparent;
    z-index: 5;
    background-color: var(--nav);
    box-shadow: 20px 20px 120px rgba(75, 72, 72, 0.175);
}

.top-nav-con {
    height: 100vh;
}

.btn-box {
    width: 100%;
    height: auto;
    min-height: 50%;
    text-align: center;

}

.top-open-btn {
    padding-left: 10px;
    color: var(--bclr);
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}

.btn-box span {
    color: var(--bclr);
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}

.home {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    min-height: 80vh;
}

.display-wrapper {
    width: 100%;
    height: 100%;

}

.display {
    width: 100%;
    height: 100%;
    display: flex;
}

.display-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0px 30px;
    font-size: 50px;

}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-line {
    padding-top: 100px;
    color: var(--bbkg);
    font-family: 'Spicy Rice', serif;
}

.second-line {
    font-family: 'Spicy Rice', serif;
    color: #00c8aa;
    padding-top: 10px;
}


.third-line {
    color: var(--main-color);
    font-family: 'Spicy Rice', serif;

    padding-top: 10px;

}

.third-line span {
    color: var(--yclr);

}

/* Button styles */
.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn a {
    color: var(--bbkg);
    text-decoration: none;
    /* font-family: cursive; */
}

/* Default State */
.btn {
    background-color: var(--main-color);
    color: var(--bbkg);
    margin: 15px 5px;
    text-transform: capitalize;
}

/* Hover State */
.btn:hover {
    background-color: var(--accent-color);
}

/* Active State */
.btn:active {
    background-color: #2c3e50;
}

/* Box styles with animation */
.box {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgb(19, 19, 19);
    border-radius: 50%;
    overflow: hidden;
    margin-top: 100px;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 50px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;

}

.box:hover .content img {
    opacity: 0;
}


.content h2 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}



/* Footer styles */
.footer {
    background-color: var(--footer);
    color: #fff;
    padding: 40px 0;
    padding: 0px 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 1200px; */
    margin: 0 auto;
}



.footer-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    margin-bottom: 8px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
}

.footer-nav li a:hover {
    color: #b6abab;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-links li a {
    color: #1da1f2;
}

.social-links li a:hover {
    color: #2f719a;
}



/* about page  */

.About-page {
    padding: 20px 0px;
    width: 100%;
    height: 100%;
}

.about-name {
    width: 100%;
    height: 15%;
    text-align: center;

}

.about-name span {
    font-size: 35px;

}

.aboutdisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-image {
    width: 50%;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    border-radius: 10%;
}

.about-content {
    width: 50%;
    height: 6%;
}

.options {
    width: 100%;
    text-align: center;
    padding: 60px 0px;
    display: flex;
}

.options span {
    padding: 0px 30px;
    cursor: pointer;
    font-size: 20px;
}

.About-Me {
    padding: 10px;
    display: block;
    font-size: 20px;
}

.About-skills {
    display: none;

}

.About-skills .skill {
    padding: 13px 0px;
    font-size: 20px;
}

.About-skills .skill progress {
    transition: all ease 0.7s;
}

.About-Education {
    display: none;
}

.About-Education div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}

.hr {
    transition: all ease 0.6s;
    border: 2px solid;
}


/* projects page  */

.projects {
    width: 100%;
    height: 100%;
}

.project-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 40px 80px;
    gap: 30px;
}

.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid white;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
    /* You can adjust the scale factor for the zoom effect */
}

.card-body {
    padding: 17px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-description {
    color: #555;
    margin-bottom: 17px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #2980b9;
}


.contact-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 80px;
}

.contact-form {
    width: 40%;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}


input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 5px;
    font-size: 17px;
    offset: 0;
    border: 0;
    box-shadow: 10px 10px 90px rgba(143, 137, 155, 0.214);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button:hover {
    background-color: var(--main2-color);
}

.button {
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    background-color: var(--main-color);
    color: var(--wbkg);

}

.contact-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 80%;
    height: 80%;
}

.body{
    background-color: var(--bs-dark);
    color: var(--bclr);
}
.about-name{
    font-family: 'Permanent Marker', cursive;
}
.button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.options span:hover{
    color: var(--yclr);
}
.options span{
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.About-Me p{
    font-family: 'Montserrat', sans-serif;
}
.footer-section p a{
    color: var(--bbkg);
}

.card-description{
    color: var(--bbkg);
}
.footer{
    box-shadow: 0px -20px 255px rgba(160, 160, 173, 0.727);
}
.contact-form input,textarea{
    border: 2px solid #0077b6;
    background-color: transparent;
    border-color: #0077b6;
    color: var(--bbkg);
}

.btn-boxx button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}